section {
	padding:2em 0;
}

.row3 {
	@include rowGrid(3,5%);
}

.texture1 {
  background:url('/resources/img/texture1.png') center repeat-x;
  background-size:auto 100%;
  margin-top:-150px;
  padding:8em 0 10em;
  position: relative;
  z-index:20;
}

.texture2 {
  background:url('/resources/img/texture2.png') center repeat-x;
  background-size:auto 100%;
  margin-top:-100px;
  padding:7em 0;
  position: relative;
  z-index:23;
}

.blowdown {
  background:url('/resources/img/texture3.png') center top repeat-x;
  margin-top:-55px;
  padding:5em 0 5em;
  position: relative;
  z-index:21;
}

.testimonial {
  padding:8em 0 5em;
  margin-top:-160px
  }

.hero {
  padding:18em 0 25em;
}