/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: #ebebeb;
}

.main-form input,
.main-form textarea {
  border: 0px;
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input.cbp-mc-submit {
  background: transparent;
  border: solid 1px $primary;
  color: $primary;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding:.75em 1.75em;
  border-radius:10px !important;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin:1em 0;
  font-weight:100;
&:hover {
    color:$secondary;
    border-color:$secondary;
  }
}



#nospam, .nospam {
  display:none;
}

.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}