.mainnav {
	position: fixed;
	width:100%;
	z-index: 1000;
	background:rgba(0,0,0,.8);
	padding:2em 0;
	
	@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			text-align: center;
			display: inline-block;
			a {
				text-align: center;
				padding:1em;
				color:white;
				display: inline-block;
				font-size: 18px;
				&:visited {
					color:white !important;
				}
				&:hover {
					@include opacity(.8)
				}
			}
		}
	}
}

footer {
	background:black;
	padding:3em 0;
}

