* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}

body {
  padding:0;
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

strong {
  font-weight: 600;
}

.content {
  padding:0 2em;
}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 1024px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


.texture1 {
  background:url('/resources/img/texture_small.jpg') center repeat;
 
  padding:4em 0;
  position: relative;
  z-index:20;
}

.texture2 {
  background:url('/resources/img/texture_small.jpg') center repeat;
  background-size:auto 100%;
  padding:4em 0;
  position: relative;
  z-index:23;
}

.blowdown {
  padding:4em 0 4em;
  position: relative;
  z-index:21;
}

.testimonial {
  background:url('/resources/img/testimonial_bg.jpg') center;
  padding:4em 0;
  position: relative;
  z-index:19;
  text-align: center;

  h3 {
    color:white;
    font-weight: 300;
    font-size: 34px;
  }
  .byline {
    color:#803c3c;
    font-size: 24px;
  }
}


.hero {
  background:$primary url('/resources/img/hero.jpg')no-repeat;
  background-size:cover;
  padding:17em 0;
}

footer {
  .footer-contact {
    float:right;
    p {
      color:white;
      font-weight: 400;
      font-size: 14px;
    }
  }
}


.row3 {
  @include rowGrid(2, 10%);
  float:left;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
