body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h3 {
  color:$secondary;
  font-weight: 600;
}

h4{
  span {
    color:$secondary;
  }
}

h1 {
  margin: 0 0 10px 0;
  font-size: 47px;
  font-weight: 600;
  line-height: .9;
  color: $secondary;
  text-transform: uppercase;
  span{
    color:#585858;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 35px;
  }
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    @include opacity(.8);
    color:inherit;
  }
  &:visited {
    color:inherit;
  }
}

/* LISTS */
ul {
  padding-left:30px;
}

.button {
  text-transform: uppercase;
  font-size: 16px;
  border:solid 1px $primary;
  padding:.75em 1.75em;
  border-radius:10px;
  display: inline-block;
  margin-bottom:.5em;
  &:hover {
    color:$secondary;
    border-color:$secondary;
  }
}



