// COLOR PALETTE
$primary: #3e3e3e;
$secondary: #af1f24;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;

// FONT STACKS
$heading: 'Jura', sans-serif;
$body: 'Jura', sans-serif;